.tabla {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	
	color: #0C0C61;

}

.accion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	
	color: ##FF0000;
}
